<% layout("public/layouts/boilerplate") %>

<div class="alert alert-danger col-6 offset-3" role="alert">
  <!-- <h4 class="alert-heading"><%= err.status %></h4> -->
  <p class="alert-heading"><%= err.message %></p>
</div>
